    <div class="page-header">
      <h1>Graph All</h1>
    </div>
    
    
    <!-- <div ng-repeat="post in posts | orderBy:'-upvotes'">
      <span class="glyphicon glyphicon-thumbs-up"
        ng-click="incrementUpvotes(post)"></span>
      {{post.upvotes}}
      <span style="font-size:20px; margin-left:10px;">
        <a ng-show="post.link" href="{{post.link}}">
          {{post.title}}
        </a>
        <span ng-hide="post.link">
          {{post.title}}
        </span>
      </span>
      <span>
        <a href="#/posts/{{post.id}}">Comments</a>
      </span>
      posted by <a ng-href="#/users/{{post.user.username}}">{{post.user.username}}</a>
      
    </div>
 -->
    <div ng-repeat="graph in graphs">
      <span style="font-size:20px; margin-left:10px;">
        <a href="#/graphs/{{graph.id}}"><h3>{{graph.name}}</h3></a>
        <p>{{graph.description}}</p>
        <div ng-if="graph.pie_charts">
          <div ng-repeat="slice in graph.pie_charts" ng-load="generateGraph(graph.pie_charts,graph.graph_type)">
            
            <div ng-if="graph.graph_type === 3">
              <nvd3 options="options" data="data"></nvd3>
            </div>

          </div>
        </div>
        

      </span>
      
      posted by <a ng-href="#/users/{{graph.user.username}}">{{graph.user.username}}</a>
      
    </div>

    <!-- <form ng-submit="addPost()"
      style="margin-top:30px;">
      <h3>Add a new post</h3>

      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="Title"
        ng-model="title"></input>
      </div>
      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="Link"
        ng-model="link"></input>
      </div>
      <button type="submit" class="btn btn-primary">Post</button>
    </form> -->
  